In [2]:
import pandas as pd
import numpy as np
import itertools
import math

In [3]:
col_names =  ['name', '100m','long_jump','shot_put', 'high_jump', '400m', '110m_hurdles', 'discus_throw','pole_vault', 'javelin_throw', '1500m']
data = pd.read_csv('/home/oyindolapo/Documents/PythonProjects/osos_test/Copy of Decathlon.csv - Decathlon.csv.csv', sep=';',
 header=None, names=col_names )
#deca = ComputeDecathon('https://docs.google.com/spreadsheets/d/1gaNCWqV6I6I_Hp5Er40-uDS8jiOI8RT4nsDmFj1r8zA/export?format=csv&gid=1656318840')

In [4]:
data

,name,100m,long_jump,shot_put,high_jump,400m,110m_hurdles,discus_throw,pole_vault,javelin_throw,1500m
0,Edan Daniele,12.61,5.00,9.22,1.50,60.39,16.43,21.60,2.6,35.81,5.25.72
1,Lehi Poghos,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76
2,Coos Kwesi,13.75,4.84,10.12,1.50,68.44,19.18,30.85,2.8,33.88,6.22.75
3,Severi Eileifr,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01
4,Test,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01
5,Lehi e,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76
6,Lehi,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76

In [5]:
25.4347* pow((18 - 11.756), 1.81)

700.187669387636

In [6]:
def score_100m(secs_round):
    return round(25.4347 * pow((18 - secs_round), 1.81),0)

def score_long_jum(meters_jumped):
    return round(0.14354 * pow(((meters_jumped * 100) - 220), 1.4),0)

def score_shot_put(metres_thrown):
    return round(51.39 * pow((metres_thrown  - 1.5), 1.05),0)
    
def score_high_jump(metres_jumped):
    return round(0.8465 * pow(((metres_jumped * 100) - 75), 1.42),0)

def score_400m(sec_ran):
    return round(1.53775 * pow((82 - sec_ran), 1.81),0)

def score_110_hurdles(sec_ran):
    return 1000 if round(5.74352 * pow((28.5 - sec_ran), 1.92),0) > 1000 else round(5.74352 * pow((28.5 - sec_ran), 1.92),0)

def score_discus_throw(metres):
    return round(12.91 * pow((metres  - 4), 1.1),0)

def score_pole_vault(metres_jumped):
    return round(0.2797 * pow(((metres_jumped * 100) - 100), 1.35),0)

def score_javelin(metres):
    return round(10.14 * pow((metres  - 7), 1.08),0)

def score_1500m(mins_sec):
    split_time = mins_sec.split('.')
    secs = (60 * int(split_time[0])) + int(split_time[1]) + (int(split_time[-1])/1000)
    return 1000 if  round(0.03768 * pow((480 - secs), 1.85),0) > 1000 else round(0.03768 * pow((480 - secs), 1.85),0) 

def compute_score(data):
    m100 = data['100m'].apply(lambda x: score_100m(x))
    long_jump = data['long_jump'].apply(lambda x: score_long_jum(x))
    shot_pu = data['shot_put'].apply(lambda x: score_shot_put(x))
    high_jump = data['high_jump'].apply(lambda x: score_high_jump(x))
    m400 = data['400m'].apply(lambda x: score_400m(x))
    hurdles = data['110m_hurdles'].apply(lambda x: score_110_hurdles(x))
    discus = data['discus_throw'].apply(lambda x: score_discus_throw(x))
    pole = data['pole_vault'].apply(lambda x: score_pole_vault(x))
    m1500 =  data['1500m'].apply(lambda x: score_1500m(x))

    data['score'] = m100 + long_jump + shot_pu + high_jump + m400 + hurdles + discus + pole + m1500
    return data

In [7]:
data

,name,100m,long_jump,shot_put,high_jump,400m,110m_hurdles,discus_throw,pole_vault,javelin_throw,1500m
0,Edan Daniele,12.61,5.00,9.22,1.50,60.39,16.43,21.60,2.6,35.81,5.25.72
1,Lehi Poghos,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76
2,Coos Kwesi,13.75,4.84,10.12,1.50,68.44,19.18,30.85,2.8,33.88,6.22.75
3,Severi Eileifr,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01
4,Test,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01
5,Lehi e,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76
6,Lehi,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76

In [8]:
new_data = compute_score(data=data)

In [9]:
new_data = new_data.sort_values(by=['score'], ascending=False)

In [10]:
new_data.columns

Index(['name', '100m', 'long_jump', 'shot_put', 'high_jump', '400m',
       '110m_hurdles', 'discus_throw', 'pole_vault', 'javelin_throw', '1500m',
       'score'],
      dtype='object')

In [11]:
new_data["Rank_max"] = new_data["score"].rank(ascending = False, method = 'max').astype(int)
new_data["Rank_min"] = new_data["score"].rank(ascending = False, method = 'min').astype(int)

In [12]:
def get_ranking(min_rank, max_rank):
    if min_rank == max_rank:
        return min_rank
    else:
        return f'{min_rank} - {max_rank}'

In [13]:
new_data["placement"] = new_data.apply(lambda dat: get_ranking(dat['Rank_min'], dat['Rank_max']), axis = 1)

In [14]:
new_data

,name,100m,long_jump,shot_put,high_jump,400m,110m_hurdles,discus_throw,pole_vault,javelin_throw,1500m,score,Rank_max,Rank_min,placement
0,Edan Daniele,12.61,5.00,9.22,1.50,60.39,16.43,21.60,2.6,35.81,5.25.72,3826.0,1,1,1
2,Coos Kwesi,13.75,4.84,10.12,1.50,68.44,19.18,30.85,2.8,33.88,6.22.75,3147.0,2,2,2
1,Lehi Poghos,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76,2932.0,5,3,3 - 5
5,Lehi e,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76,2932.0,5,3,3 - 5
6,Lehi,13.04,4.53,7.79,1.55,64.72,18.74,24.20,2.4,28.20,6.50.76,2932.0,5,3,3 - 5
3,Severi Eileifr,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01,2755.0,7,6,6 - 7
4,Test,13.43,4.35,8.64,1.50,66.06,19.05,24.89,2.2,33.48,6.51.01,2755.0,7,6,6 - 7