In [1]:
from decathon import ComputeDecathon
import math

In [2]:
deca = ComputeDecathon('/home/oyindolapo/Documents/PythonProjects/osos_test/Copy of Decathlon.csv - Decathlon.csv.csv')

In [3]:
data = deca.get_score_and_rank()

In [8]:
data

             name   score placement
0    Edan Daniele  3873.0         1
1     Lehi Poghos  2884.0     3 - 5
2      Coos Kwesi  3148.0         2
3  Severi Eileifr  2787.0     6 - 7
4            Test  2787.0     6 - 7
5          Lehi e  2884.0     3 - 5
6            Lehi  2884.0     3 - 5

In [5]:
deca.score_high_jump(2.10)

900

In [6]:
int(round(deca.score_high_jump(2.30), -2))

1000

In [7]:
math.ceil(deca.score_high_jump(2.10))

900